@import "tailwindcss";

body {
  background-color: #f8f1f4;
  overflow-x: hidden;
}

/* Custom Font Styles */
.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 18.7px;
}

.headFont {
  font-family: UniversLTStd-Bold;
  font-weight: 600;
  line-height: 37.4px;
}

/* Custom Font Colours */
.dark-pink {
  color: #9b6d75;
}
.grey {
  color: #3e3e3e;
}

/* Custom Background Colors */
.black {
  background-color: #000408;
}

.light-pink {
  background-color: #f8f1f4;
}

.light-pink-hover:hover {
  background-color: #f8f1f4;
  color: #000;
}

/* Custom Border Color */
.border-col {
  border-color: #e7dae2;
}

/* Animation of Main Logo  */

@keyframes door-rotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.animate-door-rotate {
  display: inline-block;
  animation: door-rotate 2.5s ease-in-out infinite;
  transform-origin: center;
  perspective: 1000px;
}

/* Animation of Transition */

.fade1,
.fade2 {
  position: absolute;
  opacity: 0;
  animation: fadeInOut 6s infinite;
}

.fade2 {
  animation-delay: 3s;
}

@keyframes fadeInOut {
  0%,
  45% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
