@import "tailwindcss";

body{
  background-color: #F8F1F4;
}

/* Custom Font Styles */

.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.headFont{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: normal;
}


/* Custom Font Colours */
.dark-pink{
  color: #9B6D75;
}
