@import "tailwindcss";

/* Custom Font Styles */

.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.headFont{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: normal;
}