@import "tailwindcss";

body {
  background-color: #f8f1f4;
  overflow-x: hidden;
}

/* Custom Font Styles */
.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.headFont {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* Custom Font Colours */
.dark-pink {
  color: #9b6d75;
}
.grey {
  color: #3e3e3e;
}

/* Custom Background Colors */
.black {
  background-color: #000408;
}
